<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74373390834-9m3jb6c92b3rsp4055tf87kn7r0sa15j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74373390834-9m3jb6c92b3rsp4055tf87kn7r0sa15j</string>
	<key>API_KEY</key>
	<string>AIzaSyBI6NzsQu9zBgxWD9gT7Sb62oeuWOqu5G4</string>
	<key>GCM_SENDER_ID</key>
	<string>74373390834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.find</string>
	<key>PROJECT_ID</key>
	<string>find-996a3</string>
	<key>STORAGE_BUCKET</key>
	<string>find-996a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74373390834:ios:54d5ea7b000223a37d0b6b</string>
</dict>
</plist>